body {
    background-color: #93C0E9;
}

p, h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

.section {
    display: block;
}

.card-block {
    padding: 40px;
}

.card {
    min-height: calc(50vh);
}

.navbar {
    position: fixed;
    z-index: 10;
    width: 100vw;
    border: 1px solid;
    border-top: 0;
}

h1 {
    text-align: center;
    color: black;
    width: calc(100% - 40px);
    margin: 0 20px 40px 20px;
}

#avatar-data-axis {
    width: auto;
    height: 50vh;
    float: right;
}

#date-axis {
    float: left;
}

#message-axis,
#bar {
    float: left;
    width: 50% !important;
}

.left {
    width: 50%;
    float: left;
}

.axis {
    position: absolute;
}

.all,
.masculin,
.feminin {
    cursor: pointer;
}